.common__section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(186, 190, 220, 0.63)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
