.base-container1 {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form1 {
  width: 100%;
}

.form-group1 {
  margin-bottom: 15px;
}

.btuniya {
  width: 88%;
  color: white;
  border-radius: 8px;
  border: #0056b3;
  padding: 10px;
  background-color: #007bff;
}

.form-group1 input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-group1 input:focus {
  border-color: #007bff;
  outline: none;
}

.footer1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn1 {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0056b3;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .base-container1 {
    margin: 20px auto;
    padding: 15px;
  }

  .btuniya {
    width: 100%;
  }

  .btn1 {
    font-size: 14px;
    padding: 8px;
  }

  .form-group1 input {
    font-size: 14px;
    padding: 8px;
  }

  .footer1 {
    justify-content: space-between;
  }
}

/* Styles for toast notifications */
.toast-container {
  font-size: 16px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .base-container1 {
    margin: 20px auto;
    padding: 15px;
  }

  .btuniya {
    width: 100%;
  }

  .btn1 {
    font-size: 14px;
    padding: 8px;
  }

  .form-group1 input {
    font-size: 14px;
    padding: 8px;
  }

  .footer1 {
    justify-content: space-between;
  }

  .toast-container {
    font-size: 12px; /* Smaller font size for mobile */
  }
}

